<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleName</key>
    <string>qt_people_detector</string>

    <key>CFBundleIdentifier</key>
    <string>com.example.qt_people_detector</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>NSCameraUsageDescription</key>
    <string>This application uses the camera for human detection.</string>

</dict>
</plist>